.react-stacked-center-carousel {
    padding: 20px 0;
}

.twitch-card {
    transition: all 300ms ease;
    cursor: pointer;
    width: 100%;
    height: 300px;
    position: relative;
}

.twitch-card:hover {
    transform: scale(1.01);
    transition: all 300ms ease;
}

.twitch-card:active {
    transition: all 300ms ease;
}


.react-stacked-center-carousel-slide-0 .twitch-card {
    cursor: default;
}

.fill {
    width: 100%;
    height: 100%;
}

.twitch-card .card-overlay {
    user-select: none;
    position: absolute;
    background-color: #00C9A570;
    transition: all 300ms ease;
}

.twitch-card:hover .card-overlay {
    background-color: #00000011;
}

.react-stacked-center-carousel-slide-0 {
    transition: all 300ms ease !important;
}

.react-stacked-center-carousel-slide-1 {
    rotate: 4deg;
    transition: all 300ms ease !important;
}


.react-stacked-center-carousel-slide--1 {
    rotate: -4deg;
    transition: all 300ms ease !important;
}

.react-stacked-center-carousel-slide-2 {
    rotate: 6deg;
    transition: all 300ms ease !important;
}

.react-stacked-center-carousel-slide--2 {
    rotate: -6deg;
    transition: all 300ms ease !important;
}

.twitch-card .cover {
    position: absolute;
    transition: opacity 300ms ease;
}

.react-stacked-center-carousel-slide-0 .twitch-card .cover {
    transition: opacity 300ms ease, z-index 0ms 300ms;
}

.twitch-card .cover.on {
    opacity: 1;
    z-index: 1;
}

.twitch-card .cover.off {
    opacity: 0;
    z-index: -1;
}
