@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #00c9a580;
}

@layer components {
  .container {
    width: 95%;
  }
}

body {
  font-family: "Instrument Sans", sans-serif;
}
.category-text {
  @apply lg:text-[16px] md:text-[15px] text-[14px] font-bold text-primary leading-[1.25] tracking-[0.2em];
}
