@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/fonnts.com-Aeonik_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/fonnts.com-Aeonik_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/fonnts.com-Aeonik_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/fonnts.com-Aeonik_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #00f9;
}

@layer components {
  .container {
    width: 95%;
  }
}

body {
  font-family: 'Aeonik', sans-serif;
}

.category-text {
  @apply lg:text-[16px] md:text-[15px] text-[14px] font-bold text-primary leading-[1.25] tracking-[0.2em];
}

#blob {
  animation: blobAnimation 14s infinite;
  background: #00f;
  position: fixed;
  z-index: -2;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}

.btn::before {
  transition: all .3s;
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00f;
  transform: translateX(-100%);
}

.btn2::before {
  transform: translateX(100%);
}

@keyframes blobAnimation {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.6;
  }
  to {
    rotate: 360deg;
  }
}
