main {
    cursor: url('../../../public/cursor-2.cur'), auto;
}

:root {
    --blob-color: linear-gradient(
            #00f,
            #00f0
    );
    --blob-size: 225px;
}


.happyTrail {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../../../public/syn-star.png");
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;

    animation-duration: 2s;
}

#blob {
    animation: rotate360 10s infinite;
    background: var(--blob-color);
    filter: blur(calc(var(--blob-size)/4));
    opacity: 0.7;

    width: var(--blob-size);
    height: var(--blob-size);
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
}

@keyframes rotate360 {
    from { rotate: 0deg; }
    50% { scale: 1 1.25; }
    to { rotate: 360deg; }
}
