.rotary-media--wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    position: relative;
    animation: slide 20s linear infinite alternate;
    margin-top: 1.25rem;

}

.rotary-item {
    flex: 0 0 auto;
    width: 120px;
    height: auto;
    object-fit: contain;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    25% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25%);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}
