.circular-carousel-container {
    position: relative;
    margin-left: calc(-50vw + 50%);
    height: 600px;
    margin-bottom: -300px;
    width: 100vw;
    overflow: hidden;
    padding-top: 3rem;
    max-width: 100vw;
}

.circular-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: 100%;
    max-width: 1280px;
    aspect-ratio: 1 / 2;
    z-index: 1;
    animation: circularPath 60s linear infinite;
}

.circular-carousel__item {
    --i: 0;
    transform: rotate(calc(var(--i) * 15deg));
    position: absolute;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    width: fit-content;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;

    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.circular-carousel__item:nth-of-type(1) {
    --i: 0;
}

.circular-carousel__item:nth-of-type(2) {
    --i: 1;
}

.circular-carousel__item:nth-of-type(3) {
    --i: 2;
}

.circular-carousel__item:nth-of-type(4) {
    --i: 3;
}

.circular-carousel__item:nth-of-type(5) {
    --i: 4;
}

.circular-carousel__item:nth-of-type(6) {
    --i: 5;
}

.circular-carousel__item:nth-of-type(7) {
    --i: 6;
}

.circular-carousel__item:nth-of-type(8) {
    --i: 7;
}

.circular-carousel__item:nth-of-type(9) {
    --i: 8;
}

.circular-carousel__item:nth-of-type(10) {
    --i: 9;
}

.circular-carousel__item:nth-of-type(11) {
    --i: 10;
}

.circular-carousel__item:nth-of-type(12) {
    --i: 11;
}


.circular-carousel__item .image--wrapper {
    max-width: 200px;
    max-height: 320px;
    display: flex;
}

.circular-carousel__item .image--wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes circularPath {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {
    .circular-carousel__item .image--wrapper {
        max-width: 150px;
    }
}

@media (max-width: 800px) {
    .circular-carousel {
        aspect-ratio: 1 / 2.55;
    }
}


@media (max-width: 620px) {
    .circular-carousel {
        aspect-ratio: 1 / 3.5;
    }
}


@media (max-width: 620px) {
    .circular-carousel-container {
        height: 450px;
        margin-bottom: -225px;
        padding-top: 0.25rem;
    }

    .circular-carousel__item .image--wrapper {
        max-width: 140px;
    }
}

@media (max-width: 450px) {
    .circular-carousel {
        aspect-ratio: 1 / 4;
    }
}

