.animate-slide__container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    height: 100vh;
}

.animate-slide {
    display: flex;
    align-items: center;
    height: 500px;
    width: 4400px;
    animation: slide 10s linear infinite;
}

@media (max-width: 1024px) {
    .animate-slide {
        width: 3000px;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


/*.carousel {*/
/*    margin: 0 auto;*/
/*    padding: 20px 0;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*}*/

/*.card {*/
/*    width: 300px;*/
/*    color: white;*/
/*    border-radius: 24px;*/
/*    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;*/
/*    padding: 20px;*/
/*    font-size: xx-large;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 200px;*/
/*}*/


/*.card:nth-child(1) {*/
/*    background: #7958ff;*/
/*}*/

/*.card:nth-child(2) {*/
/*    background: #5d34f2;*/
/*}*/

/*.card:nth-child(3) {*/
/*    background: #4300da;*/
/*}*/

/*.card-group {*/
/*    display: flex;*/
/*    gap: 20px;*/
/*    padding-right: 20px;*/
/*    will-change: transform;*/
/*    animation: scrolling 10s linear infinite;*/
/*}*/

/*@keyframes scrolling {*/
/*    0% {*/
/*        transform: translateX(0);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(-100%);*/
/*    }*/
/*}*/
